.clock {
    font-family: Raleway;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #f9f9f9;
    position: absolute;
    top: 242px;
    left: 180px;
    width: 162px;
}

.rings {
    position: relative;
    width: 500px;
    margin: 100px auto;
}

.rings .h {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rings .m {
    position: absolute;
    left: 85px;
    top: 85px;
}

.rings .s {
    position: absolute;
    left: 163px;
    top: 163px;
}

.demo {
    background: #222;
    height: 700px;
    width: 80%;
}

.watch-input {
    display: none;
}

.projects {
    overflow: hidden;
    position: relative;
}

/* The code for the whole blocks list*/

.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90vh;

    font-size: 25px;
    font-weight: 800;

    perspective: 600px;
    transform: skew(-20deg);
    transition: all .3s ease-in-out;

    cursor: pointer;
    position: relative;
}

/* The code for when an individual block opens*/

.item {
    width: 100%;
    height: 90vh;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: currentColor;
    transition: opacity .3s ease-in-out 0.3s, transform .3s ease-in-out, width .3s ease-in-out .3s;
}

.item .item-link {
    text-decoration: none;
    transform: skew(20deg);
    transition: all .3s ease-in .3s;
    color: white;
}

.item div {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    opacity: 0;
    transition: all .3s ease-in 0s;
}

.item:last-child::after {
    content: '';
    width: 100vw;
    background: currentColor;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(99%);
}

.item:first-child::before {
    content: '';
    width: 100vw;
    background: currentColor;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-99%);
}

.A {
    color: black;

}

.B {
    color: red;
}

.C {
    color: black;
}

.D {
    color: #3498db;
}

.E {
    color: #e67e22;
}

.projects-container:hover {
    transform: skew(0);
}

.projects-container:hover .item-link {
    transform: skew(0);
    transition-delay: 0s;
}

.item:hover .item-link {
    opacity: 0;
}

.item:hover div {
    opacity: 1;
    transition-delay: 0.6s;
}

.projects-container:hover > .item:not(:hover) {
    width: 2%;
}

.projects-container:hover > .item:not(:hover) > .item-link,
.projects-container:hover > .item:not(:hover) div {
    opacity: 0;
}

.info {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    padding: 1em;
    margin: 1em;
    background: rgba(0, 0, 0, 0.5)
}
