<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>


<body>
  <div>
    <h2 class="text-center text-danger">
      Emailing Error: </br>
      It seems our carrier pidgeons have escaped.
    </h2>
    <p class="text-center">
      Our developers have been notified of the error.</br>
      To contact us directly, 
      you can reach us at
      <a href="mailto:team@mhosciences.com">team@MhoSciences.com</a>
    </p>
  </div>
  
</body>
</html>
