<!DOCTYPE html>
<html lang="en">

<head>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/public/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/public/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/public/js/bootstrap.bundle.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/bootstrap.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <!-- endinject -->
</head>

<body>

    <!-- default boostrap navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-brand"><img src="/images/logo.png" height="20" width="100"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Projects</a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- About -->
    <div class="col-sm-12 col-lg-12">
        <p class="text-centered col-sm-11">
            Mho Sciences is a group of students who like to work on new, interesting and challenging projects together. Our team is made up of passionate individuals whose skills and hobbies allow us to develop projects with Biomedical, Wearable, Robotics, Aerospace, Environmental and many other applications. We work in collaboration with or for other departments and customers to develop a custom solution for their problem, from a smart walker that monitors stability to a satellite that tracks the Earth's vegetation set to be launched late 2018.
        </p>
    </div>
    <!-- section for services -->
    <div id="services" class="col-sm-12 col-lg-12">
        <h2 class="col-sm-offset-5 col-lg-offset-5">Services</h2>
        <div class="col-sm-12">

        </div>
        <button class=" btn btn-lg col-sm-offset-5 col-lg-offset-5">Work With Us!</button>
    </div>
    <img src="logo.png" />

    <!-- section for projects -->
    <div>
        <ul>

        </ul>
    </div>

    <footer>

    </footer>

</body>

</html>
