<link rel="stylesheet" href="/css/projects.css">

<div class="container">
    <div class="item A" id="A">
        <p class="item-link">
            MhoMentum
        </p>
        <div>Pushing over people for science.</div>
    </div>

    <div class="item B" id="B">
        <p class="item-link">MhoDular Watch</p>
        <div class="text-center">
            It actually tells time.
            <!--            <img src="images/watchboards.png">-->

        </div>
    </div>

    <div class="item C" id="C">
        <p class="item-link">Poster</p>
        <div>Ooooh shiny!</div>
    </div>
</div>
