<link rel="stylesheet" href="/css/projects.css">

<div class="projects-container col-md-12 col-lg-12">
    <div class="item A col-md-4" id="A">
        <p class="item-link">
            MhoMentum
        </p>
        <div>
            <p>Pushing over people for science.</p>
        </div>
    </div>
    <div class="item B col-md-4" id="B">
        <p class="item-link">MhoDular Watch</p>
        <div class="col-md-12">
            <p class="text-center" style="text-align:center;">This is a test.</p>
            <!--<img class="text-center" src="images/watchboards.png">-->
        </div>
    </div>

    <div class="item C col-md-4" id="C">
        <p class="item-link">Poster</p>
        <div>Ooooh shiny!</div>
    </div>
</div>
