<!-- SERVICES -->
<section id="services" class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Services</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-planet"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Aerospace Systems</h5>
                    <div class="content-box-text">
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->
            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-android-laptop"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Software Engineering</h5>
                    <div class="content-box-text">
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->
            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-gear-b"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Custom Electronics</h5>
                    <div class="content-box-text">
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-pulse"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Biometric Devices</h5>
                    <div class="content-box-text">
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-unlocked"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Open Source Solutions</h5>
                    <div class="content-box-text">
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->
            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-cube"></i>
                    </div>
                    <h5 class="content-box-title font-alt">3D CAD</h5>
                    <div class="content-box-text">
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->


        </div>

    </div>

</section>
<!-- /SERVICES -->
