<!-- SERVICES -->
<section id="services" class="module">

    <div class="container">

        <!-- MODULE TITLE -->
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Services</h2>
            </div>
        </div>
        <!-- /MODULE TITLE -->

        <div class="row multi-columns-row">

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-planet"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Aerospace Systems</h5>
                    <div class="content-box-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-android-laptop"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Software Engineering</h5>
                    <div class="content-box-text">
                        Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-gear-b"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Custom Electronics</h5>
                    <div class="content-box-text">
                        Vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-pulse"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Biometric Devices</h5>
                    <div class="content-box-text">
                        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus bus tincidunt.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->

            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-ios-unlocked"></i>
                    </div>
                    <h5 class="content-box-title font-alt">Open Source Solutions</h5>
                    <div class="content-box-text">
                        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->
            <!-- CONTENT BOX -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="content-box">
                    <div class="content-box-icon">
                        <i class="ion-cube"></i>
                    </div>
                    <h5 class="content-box-title font-alt">3D CAD</h5>
                    <div class="content-box-text">
                        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                    </div>
                </div>
            </div>
            <!-- /CONTENT BOX -->


        </div>

    </div>

</section>
<!-- /SERVICES -->
